doctype
<html>
head
    title Add Content
body
    form#addContent(method="POST", action="/addContent")
        if success
            div
                p Upload success!
        if error
            div
                p Upload failed!
        div
            label(for="title") Title:
            input#title(name="title")
        div
            label(for="imageLink") Link to image:
            input#imageLink(name="imageLink")
        div
            select(name="public")
                option Public
                option Private
        div
            p If private, what group do you want to share it with?
            select(name="friendgroup")
                for group in groups
                    option(value=group) #{group}
        div
            input#Submit(type="Submit", value="Post Content")
</html>