<html>
head
    title Add Friend
body
    p Select friend group to add to:
    form#addFriendToGroup(method="POST", action="")
        div
            select(name="friendGroup")
                for group in groups
                    option(value=group) #{group}
        div
            label(for="firstName") What's the first name of your friend?
            input#firstName(name="firstName")
        div
            label(for="lastName") What's his/her last name?
            input#lastName(name="lastName")
        div
            input#Submit(type="submit", value="Add Friend")

</html>