<html>
head
    title Home
body
    div
        form#logout(method="POST" action="/logout")
            input(type="submit" value="Logout")
        form#addFriend(method="GET" action="/addFriend")
            input(type="submit" value="Add Friend")
        form#addContent(method="GET" action="/addcontent")
            input(type="submit" value="Add Content")
        form#proposedTags(method="GET" action="/proposedtags")
            input(type="submit" value="Review proposed tags")
    h1 Welcome, #{user.username}!
    p Application coming soon...

</html>