doctype
<html>
head
    title Register
body
    form#login(method="POST" action="/register")
        div
            label(for="username") Username:
            input#username(name="username")
        div
            label(for="password") Password:
            input#password(type="password" name="password")
        div
            input(type="submit" value="Register")
    div Already have an account? Login #[a(href="/login") here]!

</html>